[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "==3.7.8"
black = "==19.3b0"

[packages]
loguru = "*"
requests = "*"
python-dotenv = "*"
pyota = "*"
pyota-ccurl = "*"
pymysql = "*"
sqlalchemy = "*"

[requires]
python_version = "3.7"
